
.app{
  $primary: #fefefd;
  $secondary: #15151b;
  $primbuttn: #fefe00;
  $secbuttn: #29282d;
  $accent: #fdfe00;
  $h1: 48px;
  $h2: 32px;
  $subtitle: 24px;
  $p: 18px;
  $sub: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 5em;

  .status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-size: 44px;
    width: 100%;

    .health{
      display: flex;
      align-items: center;
    }

    .inventory{
      display: flex;
      align-items: center;
      gap: 10px;

      .inventory-item{
        height: 80px;
        width: 80px;
      }
    }
  }

}


@media screen and (max-width: 1000px) {
.app{
  .status{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
}

}