
.app{
  $primary: #fefefd;
  $secondary: #15151b;
  $primbuttn: #fefe00;
  $secbuttn: #29282d;
  $accent: #fdfe00;
  $h1: 48px;
  $h2: 32px;
  $subtitle: 24px;
  $p: 18px;
  $sub: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 2em;

  .text-display{
    max-width: 800px;
    text-align: justify;
    font-size: 24px;
  }

  .image-display{
    max-width: 600px;
    max-height: 600px;

    .story-image{
      width: 100%;
      border-radius: 20px;
    }
  }

  .status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-size: 44px;
    width: 100%;

    .health{
      display: flex;
      align-items: center;
    }

    .inventory{
      display: flex;
      align-items: center;
      gap: 10px;

      .inventory-item{
        height: 70px;
        width: 70px;
      }
    }
  }

}


@media screen and (max-width: 1000px) {
.app{
  align-items: flex-start;
  .status{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

}
}