
.app{
  $primary: #fefefd;
  $secondary: #15151b;
  $primbuttn: #fefe00;
  $secbuttn: #29282d;
  $accent: #fdfe00;
  $h1: 48px;
  $h2: 32px;
  $subtitle: 24px;
  $p: 18px;
  $sub: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 2em;
  padding: 1em 0;

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

  .choice-container{
    background-color: #29282d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
    width: 60%;
    border-radius: 10px;
    min-height: 200px;

    .choice-item{
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid gray;
        cursor: pointer;
        text-align: left;
    }

    .line{
      text-decoration: line-through;
      cursor: auto;
      color: gray;
    }
}


  .text-display{
    max-width: 800px;
    text-align: justify;
    font-size: 24px;
  }

  .image-display{
    max-width: 600px;
    max-height: 600px;

    .story-image{
      width: 100%;
      border-radius: 20px;
      

    }
  }

  .status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-size: 44px;
    width: 100%;

    .health{
      display: flex;
      align-items: center;
    }

    .inventory{
      display: flex;
      align-items: center;
      gap: 10px;

      .inventory-item{
        height: 70px;
        width: 70px;
      }
    }
  }

}


@media screen and (max-width: 1000px) {
.app{
  align-items: flex-start;
  .status{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

}
}